<div class='header'>
    <div class='user'>
        <p routerLink="../content/blog" routerLinkActive="active">Blog</p>
        <p routerLink="../content/shop" routerLinkActive="active">Shop</p>
        <p routerLink="../content/news" routerLinkActive="active">News</p>
        <p routerLink="../content/about" routerLinkActive="active">About</p>
    </div>

    <div class='admin'>
        <p routerLink="../Admin/login" routerLinkActive="active">Log in</p>
        <p routerLink="../Admin/register" routerLinkActive="active">Register</p>
    </div>
</div>
<router-outlet></router-outlet>
