@import "~src/assets/scss/library.scss";

form{
    @include flex();
    border: 2px solid $red;
    flex-direction: column;
    width:30%;
    height: 60vh;   
    margin:9vh 35%;
    border-radius: 22px;
    background-color: #f8f8f8;
    transition: 0.5s;
    box-shadow: 1px 1px 25px 3px $red; 
    input{
        width: 80%;
        height: 5vh;
        border-radius: 10px;
        border: 1px solid $red;
        outline: 0;
        transition: 0.5s;
        &:hover{
            box-shadow: 1px 0px 39px 1px rgba(0,0,0,0.66); 
            transition: 0.5s;
        }
    }
    button{
        width: 60%;
        height: 7vh;
        background-color: $red;
        border:0;
        border-radius: 22px;
        outline: 0;
        font-size: 2.7vw;
        transition: 0.5s;
        &:hover{
            box-shadow: 1px 0px 39px 1px rgba(0,0,0,0.66); 
            transition: 0.5s;
        }
    }
    p{
        cursor: pointer;
        &:hover{
            color:$red;
            transition: 0.5s;
        }
    }

}
.button{
    width:10%;
    height:7vh;
    margin-left:45%;
    background:$red;
    border:0;
    border-radius: 22px;
    outline: 0;
    font-size:2vw;
}